.right{
    width: 75%;
    margin-left: 25%;
    position: absolute;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 70%;
    margin:2% auto;
}
.btn
{
    display: block;
    padding:1% 5%;
    margin:1% auto;
    color:#fff;
    font-family: "montserrat";
    border-radius:15px ;
    font-weight: 400;
    background-color: rgb(240, 3, 51);
}
.row
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin:2% auto;
}
.table
{
    width:100%;
}
.page
{
    height:100vh;
    font-family: "montserrat";
}
th{
    font-size: 17px;
    color: white;
    text-align: center;
    background-color: lawngreen;
    width: 20%;
}
td{
    background-color: wheat;
    text-align: center;
    width: 20%;
}
.output__btn{
    background-color: red;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 42%;
    border: none;
    font-family: "montserrat";
    color: white;
    padding:1% 5%;
}
.output__table
{
    display: none;
}