<%- include('partials/header') %>


<div class="offerstyle">
  <div class="container-fluid">


  <nav class="navbar  navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="" style="color:black;"><h1>Queries</h1> <p class="slogan" style="color:black;">Learn together,Grow together</p></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
         <a class="nav-link" style="color:black;"  href="#third">Your redeemed  coupons</a>
        </li>


      </ul>
    </div>
  </nav>

  </div>

<div id="pricing">



 <h1 class = "heading">1000<i class="fa fa-circle" color="gold"></i></h1>
    <div class="row">
      <div class="col-lg-4 col-md-6">

        <div class="polaroid">
          <img src="Images\udemy.PNG" alt="5 Terre" style="width:100%">
          <div class="container">
            <p> <button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div>




      <div class="col-lg-4 col-md-6">




        <div class="polaroid">
          <img src="Images\udacity.PNG" alt="5 Terre" style="width:100%">
          <div class="container">
            <p><button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-12">

        <div class="polaroid">
          <img src="Images\edx.PNG" alt="5 Terre" style="width:100%">
          <div class="container">
            <p><button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">

        <div class="polaroid">
          <img src="Images\masterclass.PNG" alt="5 Terre" style="width:100%">
          <div class="container">
            <p><button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div>




      <div class="col-lg-4 col-md-6">




        <div class="polaroid">
          <img src="Images\udacity.PNG" alt="5 Terre" style="width:100%">
          <div class="container">
            <p><button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-12">

        <div class="polaroid">
          <img src="Images\udemy.PNG" alt="5 Terre" style="width:100%">
          <div class="container">
            <p><button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div>


 <br>
 <br>

   <h1 class = "heading">2000<i class="fa fa-circle" color="gold" aria-hidden="true"></i></h1>

  <div class="row">
      <div class="col-lg-4 col-md-6">




        <div class="polaroid">
          <img src="Images\udacity.PNG" alt="5 Terre" style="width:100%">
          <div class="container">
            <p><button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-12">

        <div class="polaroid">
          <img src="Images\udemy.PNG" alt="5 Terre" style="width:100%">
          <div class="container">
            <p><button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">

        <div class="polaroid">
          <img src="Images\udacity.PNG" alt="5 Terre" style="width:100%">
          <div class="container">
            <p><button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div>




      <!-- <div class="col-lg-4 col-md-6">




        <div class="polaroid">
          <img src="Images\edx.PNG" alt="5 Terre" style="width:100%">
          <div class="container">
            <p><button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div> -->


      <!-- <div class="col-lg-4 col-md-12">

        <div class="polaroid">
          <img src="D:\web development\Hackathon\Images\aidan-hancock-EwKkZu18HPo-unsplash.jpg" alt="5 Terre" style="width:100%">
          <div class="container">
            <p><button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-lg-4 col-md-6">

        <div class="polaroid">
          <img src="Images\edx.PNG" alt="5 Terre" style="width:100%">
          <div class="container">
            <p><button type="button" class="btn btn-info btn-lg"> Apply now</button></p>
          </div>
        </div>
      </div> -->

    </div>






    </div>


    </div>
    <!-- <script src="offer.js" charset="utf-8"></script> -->




</div>





</div>








<%- include('partials/footer') %>
