<%- include('partials/header') %>

<div class="thankstyle">
  <h1>You accepted the solution of <%= studentName %> !!  </h1>
  <h3>3 <i class="fa fa-circle" color="gold" aria-hidden="true" ></i> have been deducted from your amount </h3>
</div>




















<%- include('partials/footer') %>
