<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>HealthEasy</title>
    <link href= "/static/healthline/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href= "/static/healthline/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href= "/static/healthline/css/myStyle.css" rel="stylesheet">
    <link href= "/static/healthline/css/bootstrap-social.css" rel="stylesheet">
    <link href="/static/healthline/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>


  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">

                 <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>

                   <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true" ></span> Home</a></li>
                    <li><a href="aboutus.html"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
                    <li class="dropdown">
                    <li><a href="market.html"><span class="glyphicon glyphicon-list-alt"></span>Reports</a></li>
                    <li><a href="contactus.html"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="sign in">
                    <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                    <input type="password" class="form-control" placeholder="Password">
                    <input type="checkbox" name="remember me" class="form-control"> <span class="white">Remember Me</span>
                    <a type="button" class="btn btn-primary" href="#" class="form-control">  Sign In</a>
                    </div>
                  </div>
              </div>
        </nav>

    <header class="jumbotron" class="row-header">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12">
                    <h1>HealthEasy</h1> 
                    <h3>Better Care Better Understanding</h3>
                    <div class="col-xs-12 col-sm-4">
                        <p id ="mudda" style="padding:40px;"></p>
                        <img src="/static/healthline/images/flogo.png" class="img-responsive">
                        </div>
                    <p style="padding:40px;"></p>
                    <p id="mudda">HealthEasy provides a full solution that operates throughout the entire medical-industry.<br>
                      <br>Are you a doctor or patient ?
                      Be a part of our panel of specialists and connect with your patients from anywhere.</br> 
                      We have a “take-it-easy” policy. If for any reason you’re not convinced with your online consultation</p>

                </div>
                <div class="col-xs-12 col-sm-4">
                <p style="padding:20px;"></p>
                <!-- <img src="/static/healthline/images/flogo.png" class="img-responsive"> -->
                </div>
                <div class="col-xs-12 col-sm-2">
                <p style="padding:40px;"></p>
                <!-- <a type="button" class="btn btn-success" href="#signup">Join Us</a> -->
                </div>
            </div>
        </div>
        <style>
        h1,h3 {text-align: center;
            
        }
        h3{
            text-decoration: underline;
        }
        #mudda
        {
            text-align:left;
        }

        </style>

    </header >


     <div class="row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center></h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div class="media">
            <div class="media-left media-middle">
            <a href="#">
            <img class="media-object img-thumbnail" src="/static/healthline/images/doctor.jpg" alt="farmers">
            </a>
            </div>
            <div class="media-body">

                <h2 class="media-heading">For Doctors</h2>
                <h4>  A complete online portal for Doctors to provide their services   </h4>
                <p><a class="btn btn-primary btn-xs" href="/healthline/docter">click here &raquo;</a></p>
            </div>
        </div>
       </div>
      </div>





        <div class=" row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center></h3>
            </div>
            <div class="col-xs-12 col-sm-9">
            <div class="media">
            <div class="media-right media-middle">
            <href="#">
            <img class="media-object img-thumbnail" src="/static/healthline/images/patient.jpg" alt="bytes">
            </a>
            </div>
                <h2> For Patients </h2>
                <h4> A one to one online interactive platform for patients to interact with doctors  </h4>
                <p><a href="/healthline/patient">More &raquo;</a></p>
            </div>
        </div>
        </div>

        <div class="row row-content">
            <div class ="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Coming Soon</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div class="media">
            <div class="media-left media-middle">
            <a href="#">
            <img class="media-object img-thumbnail" src="/static/healthline/images/patient2.jpg" alt="Atishay Jain"></a>
                <h2>Give live medical reports</h2>
                <h4>  </h4>
                <p>       </p>
                <p><a  class="btn btn-primary" href="#">More &raquo;</a></p>
            </div>
           </div>
        </div>
       </div>


    <div class="row row-content">
      <div class="col-xs-12 col-sm-3">
      <p style="padding:20px;"></p>
      <h3 align=center>Coming soon</h3>
      </div>
      <div class="col-xs-12 col-sm-9">
      <div class="media">
      <div class="media-right media-middle">
      <href="#">
      <img class="media-object img-thumbnail" src="/static/healthline/images/patient3.jpg" alt="hands">
      </a>
      </div>
      <h2>Provide customised health services</h2>
      <h4> Deep insights about current health status and performance  </h4>
      </div>
      </div>
      </div>




        <div class="row row-content">
           <div class="col-xs-12">
              <h1 id="signup">Sign Up</h1>
           </div>
            <div class="col-xs-12 col-sm-9">
                <form class="form-horizontal" role="form">
                <div class="form-group">
                <label for="firstname" class="col-sm-3 control-label"> First Name</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter first name"></div>
                </div>
                <div class="form-group">
                <label for="lastname" class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your Last Name">
                </div>
                </div>


            <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
            <input type="email" class="form-control"  placeholder="Enter Email">
            </div>
            </div>
            <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Create New Password</label>
            <div class="col-sm-9">
            <input type="password" class="form-control"  placeholder="Enter new Password"></div>
            </div>
            <div class="form-group">
            <label for="renter" class="col-sm-3 control-label">Confirm Your Password</label>
            <div class="col-sm-9">
            <input type="password" class="form-control"  placeholder="Re-enter password">
            </div>
            </div>

            <div class="form-group">
            <div class="col-sm-8">
            <button type="submit" class="btn btn-primary col-sm-2">Sign Up</button>
            </div>
            </div>
            </form>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div>

    </div>
    </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/healthline/js/bootstrap.min.js"></script>
</body>

</html>
