<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        button{
           
            width:50%;
            height:100%;
            padding:2%;
            
            float:left;
            font-family:lucida console;
            
            font-size:2.2vw;
            font-weight: bold;
            cursor:pointer;
        }
        #a{
            transition: all 1s ease-in-out;
            background-color:#ffd662ff;
            color:#00539cff;
        }
        #a:hover{
            transform: scale(1.2);
        }
        #b{
            transition: all 1s ease-in-out;
            color:#ffd662ff;
            background-color:#00539cff;
        }
        #b:hover{
            transform: scale(1.2);
        }
    </style>
</head>
<body bgcolor="black" style="margin:0px;">
    <center>
    <div style="align-content:center;color: aliceblue;font-family: lucida console;margin:0%;font-size: 2vw;height:100vh">
    <a href="/adminproblem" style="text-decoration: none;"><button id="a">New Problem?</button></a>
    <a href="/usercomplaints" style="text-decoration: none;"><button id="b">Existing Problem?</button></div></a></center>
</center>
</body> 
</html>