*,*::before,*::after{
    box-sizing: border-box;
}
html,body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    text-align: center;
}
textarea
{
    resize:none;
}
input{
    width: 100%;
    height:100%;
    padding:1.2%;   
    text-align: center;
}
.row
{
    max-width: 960px;
    min-width: 30%;
    width: 30%;
    margin:0 auto;
    margin-bottom: 1.1%;
    border-radius: 5px;
}
.row1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width:30%;
    margin:0 auto;
}
.btn 
{
    padding:0.4% 1%;
    display: block;
    margin:1% auto;
    text-align: center;
    border-radius: 3px;
}
.myimg
{
    width: 5%;
    height: 5%;
    display: block;
    margin: auto;
    margin-bottom: 0.5%;
}
.center
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}