*,*::before,*::after{
    box-sizing: border-box;
}
html,body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    text-align: center;
}
textarea
{
    resize:none;
}
input{
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    border: 3px solid #D3D3D3;
    border-radius: 15px;
    background-position: left top;
    background-repeat: repeat;
}
.country { 
    flex: 1;
}
.row
{
    max-width: 500px;
    width: 30%;
    border-radius: 5px;
}
.row1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width:60%;
    margin:0 auto;
}

.myimg
{
    width: 8%;
    height: 6%;
    display: block;
    margin: auto;
    margin-bottom: 0.5%;
}
.center
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 5%;
    
}

.myButton {
	background-color:#ff8d71;
	border-radius:28px;
	border:1px solid #ff8d71;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ff8d71;
}
.myButton:hover {
	background-color:#ff8d71;
}
.myButton:active {
	position:relative;
	top:1px;
}

