// .soln{
//     padding: 5rem;
// }

.no-bg{
    background-image: none;
    color: bisque;
}

.medData{
    display: block;
    color: whitesmoke;
    padding: 2rem;
}

.sympData{
    display: block;
    color: whitesmoke;
    padding: 2rem;

    &::selection{
        color: #999999;
    }

}

.sub_logo{
    margin: 2.5rem;
}

.no-margin:not(:last-child) {
        margin-bottom: 0rem;
}