* {
  margin: 0;
  padding: 0;
}
ul {
  padding-top: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  padding-top: 10px;
  float: right;
  font-family: 'montserrat';
  margin-right: 3%;
}

.home__btn {
  display: block;
  color: white;
  border: none;
  text-align: center;
  padding: 8px 20px;
  font-size: 15px;
  font-family: 'montserrat';
  text-decoration: none;
  background-color: #ff8e71;
  border-radius: 20px;
}
.home__btn:hover {
  cursor: pointer;
}
.mid__section {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 67vh;
}
.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  
}
.head {
  font-family: 'montserrat';
  font-size: 50px;
  margin-left: 15%;
}
.lady__img {
  width: 400px;
  height: 450px;
  margin-left: 20%;
}
.img__holder {
  width: 50%;
}
.sub__head {
  color: #ff8e71;
  font-size: 30px;
  font-family: 'montserrat';
  margin-top: 10%;
  margin-left: 15%;
}
.pp{
  color: black;
  font-family: 'montserrat';
  text-align: justify; /* For Edge */
  text-align-last: center;
  margin-top: 10%;
  margin-left: 20%;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #ff8e71;
  color: white;
}