*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	//defines 1rem = 10px,100% = 16px
	font-size: 62.5%;

	@include respond(tab-land){
			font-size: 56.25%;  //1rem = 9px
	}
	@include respond(tab-port){
		font-size: 50%;         //1rem = 8px
	}
	@include respond(big-desktop){
			font-size: 75%;     //1rem = 12px
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;	
	@include respond(tab-land){
		padding: 0 ;	
	}

}

::selection{
	background-color: $color-primary;
	color: $color-white;
}

