body {
	font-family: Lato, sans-serif;
	/* font-size: 16px; */
	line-height: 1.7;
	color: $color-grey-dark;
}


.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-weight: 400;
		font-size: 6rem;
		letter-spacing: 3.5rem;
		animation-name: MoveInLeft; 
		animation-duration: 1s;
		animation-timing-function: ease-out;

		@include respond(phone){
			font-size: 5rem;
			letter-spacing: 1rem;
		}
	}
	
	&--sub {
		display: block;
		font-weight: 700;
		font-size: 2rem;
		letter-spacing: 1.74rem;
		animation-name: MoveInRight;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		@include respond(phone){
			letter-spacing: .5rem;
		}
	}
}

.heading-secondary{
	font-size: 3.5rem;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	letter-spacing: .2rem;
	transition: all 0.2s;
	text-transform: uppercase;

	@include respond(tab-port){
		font-size: 3rem;
	}

	@include respond(phone){
		font-size: 2.5rem;
	}


	// &:hover{
	// 	transform: skew(15deg,2deg) scale(1.1);
	// 	text-shadow: 0.5rem 1rem 2rem rgba($color-black,0.2);
	// }
}

.heading-tertiary{
	font-size: $font-size-default;
	font-weight: 700;
	text-transform: uppercase;

}

.paragraph{
	font-size: $font-size-default;

	&:not(:last-child){
		margin-bottom: 3rem;
	}
}
