<!doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div style="width:440px;border:1px solid black;margin:auto;background-image: url(https://i.ibb.co/bWW8p04/IMG-20201212-WA0015.jpg); background-size: cover;border-radius: 35px;border:0px;height: 900px;">
        <div style="height: 20px;">

        </div>
        

        <div class="head" style="height: 50px;width: 300px;background-color:rgb(202,233,246,0.4); border-radius: 20px;align-items: center;justify-content: center;text-align: center;margin:auto;margin-bottom: 20px;">
            <h1  style="color:white;padding-top:4px; font-family:Great Vibes, cursive;">OnBoard</h1>
       </div>




    <form class="formstyle" style="border:1px solid black;display: block;height: 140px;width:420px;justify-content: center;text-align: center;border:0px;margin:auto">

        <div style="margin-bottom: 4px;">
            <label for="username" style="width:150px; color: white">Student Name</label>
        </div>
        <div style="margin-bottom: 30px;">
            <input type="text" style="width:300px;border-radius: 20px;height: 35px;background-color: rgb(202,233,246,0.7);border: 0px; text-align: center;" name="username" id="username">
        </div>
        <div style="margin-bottom: 30px;">
            <button style="width:100px;height: 30px;color:white;background-color: rgb(202,233,246,0.4);border-radius: 20px;border:1px" id="join_leave">Join Board</button>
            <button id="share_screen" style="color:white;width:100px;height: 30px;background-color: rgb(202,233,246,0.4);border-radius: 20px;border:1px" disabled>Share screen</button>
            <button id="toggle_chat" style="color:white;width:100px;height: 30px;background-color: rgb(202,233,246,0.4);border-radius: 20px;border:1px" disabled>Toggle Chat</button>

        </div>
        <!-- <button id="toggle_chat" disabled>Toggle chat</button> -->
    </form>

   <div style="margin-left:auto;margin-right: auto;border: 1px solid black;width:200px;justify-content: center;text-align: center;background-color:rgb(255, 81, 0,0.5) ;border-radius: 30px;border:0px;height: 30px;">
            <p id="count" style="padding: 3px;color:white" >Disconnected</p>
    </div>

    <div id="root">
        <div id="container" class="container" style="border:1px solid black; height: 300px;width:400px;margin: auto;background-color:rgb(202,231,246,0.5) ; border-radius: 50px;border:0px;margin-top: 20px;  margin-bottom:0px    " 
        >
            <div id="local" class="participant">
                <div id="myVideo" style="width: 400px; height: 308px; position: absolute; margin: auto; opacity: 0.5;"></div>
                <div id="one" class="label" style="margin-left: 180px; font-size:20px;"></div>
            </div>
            <div id="imageDiv"><img src="#" id="myImg" style="width: 400px; height: 308px; position: absolute; margin: auto; opacity: 0.5; left: 37%"></div>
            <!-- more participants will be added dynamically here -->
        </div>

        <canvas id="canvas" style="position: absolute;left: auto; height: 0px" disabled></canvas>

        
        <div style="margin:auto;width: 50px;">
            <button style="background-color: rgba(235, 13, 13, 0.8);height: 50px;border-radius:80px ;color:white;margin-top: 20px;" id="capture" disabled onclick="capture1()">Capture</button>

        </div>
       <div id="chat" style="border:1px solid black;height: 500px;width: 300px;border-radius: 40px;border:0px;position: absolute;left: 73%; top: 30%">     
        <div id="chat-scroll" style="margin-bottom: 0px;margin-left: 0px;height: 400px;width: 300px;border: 1px solid black; background-color: rgb(202, 217, 214);border-radius: 10px;padding: 5px;">
                <div id="chat-content">
                    <!-- chat content will be added dynamically here -->
                </div>
            </div>
            <div style="margin:auto;text-align: center;height: 20px;border:0px">
                <input id="chat-input" placeholder="Type Your Query" style="margin-bottom: 10px;width:300px;border-radius: 20px;border:0px margin-top:-41px" type="text">
            </div>
        </div>
    </div>


    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="https://media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/conversations/releases/1.0.0/twilio-conversations.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>


