.signin__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.logo__img{
  height: 150px;
  width: 150px;
}

input {
  width: 30%;
  border: 1px solid black;
  height: 6vh;
  font-family: "montserrat";
  margin-top:1%;
}
.submit__btn{
  background-color: #ff8e71;
  padding: 5px 20px;
  border-radius: 10px;
  margin-top:2%;
  color: white;
  font-size:20px;
  font-family: "montserrat";
  border: none;
}