<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Signup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/signup/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/views/signup/assets/css/styles.css">
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="POST" action="/signup/<%=id%>" enctype="multipart/form-data">
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                <div class="form-group"><input class="form-control" name="name" placeholder="Name"></div>
                <div class="form-group"><input class="form-control" name="username" placeholder="Username"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="form-group"><input class="form-control" name="bio" placeholder="Bio"></div>
                
                <div class="form-group">
                    Profile Photo:<input class="choose-file" type ="file" name="profilephoto" id="inp" accept='image/*' >
                </div>
                <div class="form-group"><input class="btn btn-primary btn-block" type="submit" value="Signup" /></div><a class="already" href="/login">Already have an account? Login here.</a></form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>