<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>404 Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/404/assets/css/styles.min.css">
</head>

<body><main class="page contact-page">
    <section class="portfolio-block contact" style="background: #080808;color: rgb(255,255,255);">
        <div class="container">


<body class="bg-purple">

  <div class="stars">
    <div class="central-body">
      <p style="font-size: 7vw;">Error 404</p>
      <p style="font-size: 1.4vw; text-align: center;">You made a request at "<%=url%>", but it was not found on the server.</p>
      <br><br><br>
        <a href="/" class="btn-go-home" style="font-size: 1.2vw;">Return to Dashboard</a>
    </div>
    <div class="objects">
      <img class="object_rocket" src="/views/404/assets/img/muppers/rocket.svg" width="40px">
      <div class="earth-moon">
        <img class="object_earth" src="views/404/assets/img/muppers/earth.svg" width="100px">
        <img class="object_moon" src="views/404/assets/img/muppers/moon.svg" width="80px">
      </div>
      <div class="box_astronaut">
        <img class="object_astronaut" src="/views/404/assets/img/muppers/astronaut.svg" width="140px">
      </div>
    </div>
    <div class="glowing_stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>

    </div>

  </div>

</body>
        </div>
    </section>
</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>