<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Solution</h1>


    <form action="/submit" method="POST">
      <div class="form-group">
        <input type="text" class="form-control text-center" name="Name" placeholder="Your name">
      </div>

      <div class="form-group">
        <input type="text" class="form-control text-center" name="solution" placeholder="Write Solution">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
