form { 
    border: 3px solid #2e079c;
    text-align: center;
} 
  
input[type=text],
input[type=password] {
    width: auto;
    padding: 12px 12px;
    margin: 8px 43%;
    text-align: center;
    display: block;
    border: 1px solid rgb(78, 55, 206);
    box-sizing: border-box;
}
  
button { 
    background-color: #4CAF50; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
}
 
button:hover { 
    opacity: 0.8; 
} 
  
.cancelbtn { 
    width: auto; 
    padding: 10px 18px; 
    background-color: #f44336; 
} 

.loginbtn {
    width: auto;
    padding: 10px 26px;
    margin: 0% 1%;
}
  
.imgcontainer { 
    text-align: center; 
    margin: 24px 0 12px 0; 
}
  
img.avatar { 
    width: 10%; 
    border-radius: 20%; 
} 
  
.container { 
    padding: 16px;
    text-align: center; 
} 
  
span.psw { 
    float: right; 
    padding-top: 16px; 
} 