<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor SignUp</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        //Bootstrap scripts
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Doctor SignUp</h1>
    <form class="formclass colored" action="/doctor" method="post">
      <input type="text" name="doctorName" placeholder="Doctor Name"><br>
      <input type="number" name="doctorPhone" placeholder="Phone Number"><br>
      <input type="checkbox" name="medtype" value="Pediatrics">
      <label for="medtype">Pediatrics</label>
      <input type="checkbox" name="medtype" value="General Physician">
      <label for="medtype">General Physician</label><br>
      <input type="checkbox" name="medtype" value="Pulmonology">
      <label for="medtype">Pulmonology</label>
      <input type="checkbox" name="medtype" value="Cardiology">
      <label for="medtype">Cardiology</label><br>
      <input type="number" name="licenseNo" placeholder="License Number" ><br>

      <input type="text" name="hospital" placeholder="Hospital at which you practice" ><br>

      <label for="TimingTo">Start Timing</label>
      <input type="time"  name="TimingTo" min="08:00" max="22:00" placeholder="Start Timimg" >
      <br>
      <label for="TimingTo">End Timing</label>
      <input type="time"  name="TimingFrom" min="08:00" max="22:00" placeholder="End Timimg" >
      <br>

      <input type="number" name="Experiance" value="Experiance in years">

      <button class="btn btn-dark btn-lg" type="submit" name="doctorButton">Sign Up</button>
    </form>
  </body>
</html>
