
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

<!-- CSS  Stylesheets -->
 <link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


 <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body  background-color: 	#00ffff   background-image: "images/hero-bg.jpg";>
  <div class="colored">
    <h1 class="big-heading">Welcome to Find My Doctor</h1>
    <div class="doc">
    <h2 class="doc-heading">For Doctors</h2>
    <button type="button" class="btn btn-dark btn-lg home-button-sign" onclick="location.href='/doctor'">Sign up</button>
    <button type="button" class="btn btn-dark  btn-lg home-button-log" onclick="location.href='/logindoc'">Login</button>
  </div>
  <div class="pat">
    <h2>For Patients</h2>
    <button type="button" class="btn btn-dark btn-lg home-button-sign" onclick="location.href='/member'">Sign up</button>
    <button type="button" class="btn btn-dark  btn-lg home-button-log" onclic="location.href='/loginmem'">Login</button>
  </div>
  </div>

</body>



</html>
