<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Doctor Login</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        //Bootstrap scripts
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
        <h1><center>Doctor Login</center></h1>
        <div class="formclass colored">
            <form action="/logindoc" method="post">
                <div class="imgcontainer colored">
                <img src="images/LoginAvatar.png" alt="Avatar" class="avatar">
                </div>
                <div class="container colored">
                    <label><b>USERNAME</b></label>
                    <input type="text" autocomplete="off" placeholder="Enter Username" name="docName" required>

                    <label><b>PASSWORD</b></label>
                    <input type="text" autocomplete="off" placeholder="Enter Password" name="docNumber" required>
                </div>
                <button type="submit" class="btn btn-dark btn-lg sb ">Login</button>
                <button type="button" class="btn btn-dark btn-lg">Cancel</button>
            </form>
        </div>
    </body>
</html>
