<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patient SignUp</title>
  </head>
  <body>
    <h1>Patient SignUp</h1>
    <form class="patient signup" action="/member" method="post">
      <input type="text" name="patientName" placeholder="Patient Name"><br>
      <input type="password" name="patientPassword" placeholder="Password"><br>
      <input type="number" name="patientPhone" placeholder="Patient Number"><br>
      <input type="number" name="age" placeholder="Age of Patient">
      <button type="submit" name="submit">Sign Up</button>
    </form>
  </body>
</html>
