<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patient to Doctor</title>
  </head>
  <body>
    <form class="patdoc" action="/appointment" method="post">
      <label for="age">Age</label>
      <input type="number" name="age" placeholder="Age"><br>
      <label for="wishdoctor">Doctor</label>
      <input type="text" name="wishdoctor" placeholder="Expected Specialist"><br>
      <label for="symptoms">Symptoms</label>
      <input type="text" name="symptoms" placeholder="Symptoms"><br>
      <label for="timeSlot">Time</label>
      <input type="time" name="timeSlot"><br>
      <button type="submit" name="appButton">Confirm</button>
    </form>
  </body>
</html>
