/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height :59px;
}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

/* Navigation bar : logo and image */
#logo{
    margin: 10px 36px;
}
#logo img{
    height: 86px;
    margin: 3px 6px;
}
/* Navigation bar : list */


#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    text-decoration: none;
    border-radius: 20px;
}

#navbar ul li a:hover{
    color: grey;
    background-color: white;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    height: 532px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('../img4.png') no-repeat center/cover;
    position: absolute;
    height: 88%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;

}
#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;

}

/* Services Section */
#services{
    margin: 34px;
    display: flex;
    
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: cornsilk;

}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}


/* Utility class */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}


